.btn {
	background: 0 0;
	color: var(--accent-blue);
	border: 2px solid var(--accent-blue);
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	transition: 0.4s ease-in-out;
	padding: 0.6rem 1.6rem;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

.btn:first-child {
	margin-right: 20px;
}

.btn:hover,
.btn:focus {
	color: #fff;
	background-color: var(--accent-blue);
}
