.front {
	display: block;
	padding: 12px 42px;
	border-radius: 12px;
	font-size: 1.25rem;
	background: var(--color-primary-500);
	color: var(--color-text);
	transform: translateY(-4px);
	transition: transform 500ms;
}

.pushable {
	background: var(--color-primary-700);
	border: none;
	border-radius: 12px;
	padding: 0;
	cursor: pointer;
	text-decoration: none;
	font-weight: 600;
}

.pushable:hover .front {
	transform: translateY(-6px);
	transition: transform 250ms;
}

.pushable:active .front {
	transform: translateY(-2px);
	transition: transform 50ms;
}
