.wrapper {
	padding: 1.2rem 4rem;
}

.aboutText {
	width: 85%;
	padding-top: 1rem;
}

.techContainer {
	padding: 6rem 0;
}

.subtitle {
	text-transform: capitalize;
	padding-bottom: 1.2rem;
}

@media (max-width: 35rem) {
	.wrapper {
		padding: 1.2rem 2rem;
	}
	.aboutText {
		width: 100%;
	}
	.techContainer {
		padding: 2rem 0;
	}
}
