.wrapper {
	padding: 1.2rem 4rem;
}

.projectsContainer {
	padding: 3rem 0;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 36px;
}

@media (max-width: 35rem) {
	.projectsContainer {
		grid-template-columns: minmax(0, 1fr);
	}
}
