.wrapper {
	padding: 4rem 0 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
	width: 100%;
	max-width: 750px;
	margin-right: auto;
	margin-left: auto;
}

.title {
	font-size: 2.5rem;
	text-align: center;
}

.socials {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: -48px;
}

.socialsLink {
	display: flex;
	gap: 8px;
	align-items: flex-end;
	text-decoration: none;
	line-height: 1;
	font-weight: 700;
	text-transform: capitalize;
	font-size: 1.2rem;
	color: var(--color-gray-900);
}

.socialsLink:visited {
	color: var(--color-gray-700);
}

.socialsLink:hover,
.socialsLink:focus {
	color: var(--color-primary-500);
}

@media (max-width: 35rem) {
	.wrapper > p {
		padding: 0 16px;
	}

	.wrapper {
		padding-left: 32px;
		padding-right: 32px;
	}
}
