.wrapper {
	padding: 1.2rem 4rem;
}

.contactText {
	width: 85%;
	padding-top: 1rem;
}

.socials {
	padding: 2rem 0;
	display: flex;
	gap: 48px;
}

.link {
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	font-size: 1.4rem;
}

.link:hover {
	color: var(--color-primary-300);
}

.peep {
	filter: drop-shadow(2px 4px 8px var(--color-decorative-500));
}

@media (max-width: 35rem) {
	.wrapper {
		padding-left: 32px;
		padding-right: 32px;
	}

	.socials {
		flex-direction: column;
	}
}
