.wrapper {
	display: block;
	text-decoration: none;
	font-size: 1.75rem;
	font-weight: 600;
	letter-spacing: -0.5px;
	transition: font-weight 400ms, transform 400ms;
	will-change: transform;
}

@media (min-width: 35rem) {
	.wrapper {
		font-size: 1.5rem;
	}
}

@media (pointer: fine) {
	.wrapper:hover {
		font-weight: 900;
		transition: font-weight 100ms, transform 100ms;
		transform: scale(1.1);
	}
}

@media (pointer: fine) and (max-width: 35rem) {
	.wrapper[data-mobile-alignment="center"]:hover {
		transform: scale(0);
	}
}
