.wrapper {
	padding: 0 50px;
	margin: 200px 100px 0;
}

.flex {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: start;
}

.text {
	padding-bottom: 20px;
	width: 65%;
}

.title {
	font-size: 4rem;
	color: var(--accent-blue);
}
