.wrapper {
  padding: 5rem 1.25rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutContainer {
  max-width: 36rem;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.aboutText {
  font-size: 1rem;
  padding-top: 1rem;
}

.techContainer {
  padding: 3rem 0;
}

.subtitle {
  text-transform: capitalize;
  padding-bottom: 1.2rem;
}

@media (min-width: 640px) {
  .wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .aboutContainer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .aboutText {
    width: 100%;
    font-size: 1.125rem;
  }

  .techContainer {
    padding: 2rem 0;
  }
}
