.wrapper {
	width: 100%;
	max-width: 750px;
	padding: 8rem 0 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;
	margin-right: auto;
	margin-left: auto;
}

.title {
	font-size: 2.5rem;
	padding-bottom: 2.5rem;
	text-align: center;
	background-image: linear-gradient(var(--color-gradient));
	background-size: 300%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.backgroundTitle {
	font-size: 1.8rem;
	padding-bottom: 16px;
	text-align: center;
}

.iconWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.icon {
	width: fit-content;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 10px;
	background: var(--color-gray-0);
	padding: 4px 8px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 8px;
}

.tailwindIcon {
	width: 25px;
}

.desc {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media (max-width: 35rem) {
	.iconWrapper {
		flex-wrap: wrap;
	}
}

@supports (animation-timeline: view()) {
	.headingWrapper {
		animation: trigger steps(1) both, fade linear both;
		animation-timeline: view();
		animation-range: entry 50% contain 40%;
	}

	.title {
		animation: pop-back 300ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
	}

	@container style(--animate: true) {
		.title {
			animation: pop 600ms var(--ease-elastic) forwards,
				text-gradient 1s cubic-bezier(0, 0.55, 0.45, 1) forwards;
		}
	}
}

@keyframes trigger {
	to {
		--animate: true;
	}
}

@keyframes pop {
	from {
		scale: 0.8;
	}
	to {
		scale: 1.2;
	}
}

@keyframes text-gradient {
	100% {
		background-position: 150% center;
	}
}

@keyframes pop-back {
	from {
		scale: 1.2;
	}
	to {
		color: var(--color-text);
		scale: 0.8;
	}
}
