.nav {
	display: block;
	text-align: center;
	position: absolute;
	height: 210px;
	top: 50%;
	margin-top: -210px;
	width: 100%;
}

.navList {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 0;
	list-style-type: none;
}

.listItem {
	position: relative;
}

.navText {
	position: absolute;
	top: 22px;
	letter-spacing: -1px;
}

.link {
	display: block;
	position: relative;
	padding: 8px;
	text-decoration: none;
	color: white;
	opacity: 0.7;
	transition: opacity 500ms;
}

.link:hover {
	opacity: 1;
}

.hovered {
	position: absolute;
	inset: 0;
	background: var(--accent-blue);
}
