.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90rem;
	width: 92%;
}

.info {
	margin: 3rem auto 0 auto;
	max-width: 55rem;
}

.text {
	font-size: 1.6rem;
	text-align: center;
	width: 100%;
	line-height: 1.6;
}

.name {
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	color: var(--accent-blue);
}

.cta {
	margin-top: 3rem;
	text-align: center;
}

@media screen and (max-width: 500px) {
	.text {
		font-size: 1.4rem;
	}

	.name {
		font-size: 3.2rem;
	}
}
