/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html {
	scrollbar-gutter: stable;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* GLOBAL STYLES */
:root {
	--ease-elastic: linear(
		0,
		0.186 2.1%,
		0.778 7.2%,
		1.027 9.7%,
		1.133,
		1.212,
		1.264,
		1.292 15.4%,
		1.296,
		1.294,
		1.285,
		1.269 18.9%,
		1.219 20.9%,
		1.062 25.8%,
		0.995 28.3%,
		0.944 31.1%,
		0.93,
		0.921,
		0.92 35.7%,
		0.926,
		0.94 39.7%,
		1.001 47%,
		1.014,
		1.021 52.4%,
		1.02 56.4%,
		1 65.5%,
		0.994 70.7%,
		1.001 88.4%,
		1
	);
}

::selection {
	background-color: var(--color-selection-background) !important;
	color: var(--color-selection-text) !important;
	background-image: none !important;
	-webkit-text-fill-color: var(--color-selection-text) !important;
	-moz-text-fill-color: var(--color-selection-text) !important;
	background-clip: revert !important;
	-webkit-background-clip: revert !important;
	-moz-background-clip: revert !important;
	text-shadow: none !important;
}

html {
	color: var(--color-text);
	font-family: var(--font-family), sans-serif;
	letter-spacing: -0.03125em;
	background: var(--color-backdrop-highlight);
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: var(--color-backdrop);
}

body::before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	height: 50vh;
	background: linear-gradient(
		to top,
		var(--color-backdrop),
		var(--color-backdrop-highlight)
	);
}

body > main {
	flex: 1;
	position: relative;
}

em {
	font-style: italic;
}
h1 {
	font-size: 1.75rem;
	font-weight: 650;
}
h2 {
	font-size: 1.5rem;
	margin-bottom: 0.5em;
	font-weight: 600;
}
h3 {
	font-size: 1.25rem;
	margin-bottom: 0.5em;
	font-weight: 500;
}
p {
	font-size: 1.25rem;
	margin-bottom: 1.5em;
}
a {
	color: currentColor;
	text-decoration-color: var(--color-primary);
	text-decoration-thickness: 2px;
	text-underline-offset: 0.125em;
	font-weight: 500;
	transition: all 200ms;
}
button {
	padding: 0;
}

@media (min-width: 35rem) {
	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 1.75rem;
	}
	h3 {
		font-size: 1.5rem;
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth !important;
	}
}
