.wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 20px;
}

.copyright {
	margin: 0;
	font-size: 0.8rem;
}

@media (max-width: 35rem) {
	.wrapper {
		padding-bottom: 64px;
	}
}
